@inherits LayoutComponentBase

@layout MainLayout

<MudDrawer @bind-Open="@DrawerOpen" ClipMode="DrawerClipMode.Always" Anchor="Anchor.End"
    Variant="@DrawerVariant.Responsive" Style="background-color: transparent;" Elevation="0">
    <MudDrawerHeader Class="px-0">
        <MudStack Row="true" Class="justify-space-between align-center">
            <MudText Typo="Typo.h6">Filters</MudText>
            <MudLink OnClick="@ResetValues" Typo="Typo.body2">Reset</MudLink>
        </MudStack>
    </MudDrawerHeader>

    <MudDrawerContainer>
        <MudStack Spacing="4">
            <MudText>Price</MudText>
            <MudPaper Class="px-2" Elevation="0" Style="background-color: transparent;">
                <MudToggleGroup T="int" SelectionMode="SelectionMode.MultiSelection" @bind-Values="@Model.Price"
                    Color="Color.Secondary" Dense="true" Rounded="true">
                    <MudToggleItem Value="@(1)" Text="$" />
                    <MudToggleItem Value="@(2)" Text="$$" />
                    <MudToggleItem Value="@(3)" Text="$$$" />
                    <MudToggleItem Value="@(4)" Text="$$$$" />
                </MudToggleGroup>
            </MudPaper>

            <MudText>Categories</MudText>
            <MudChipSet @bind-SelectedChips="CategoriesSelected" MultiSelection="true" Filter="true">
                @foreach (var category in Categories)
                {
                    <MudChip Text="@category.Alias" Variant="Variant.Text" Color="Color.Secondary" Size="Size.Medium">
                        @category.Title
                    </MudChip>
                }
            </MudChipSet>

            <div class="d-flex flex-column align-center">
                @if (CategoriesSelected != null && CategoriesSelected.Length > 0)
                {
                    <MudText>You selected @string.Join(", ", CategoriesSelected.Select(chip => chip.Text)).</MudText>
                }
                else
                {
                    <MudText>Nothing selected.</MudText>
                }
            </div>


            <MudStack Row="true" Class="justify-space-between align-center">
                <MudText>Open Now</MudText>
                <MudPaper Class="px-2" Elevation="0" Style="background-color: transparent;">
                    <MudSwitch @bind-Value="@Model.OpenNow" Color="Color.Primary" />
                </MudPaper>
            </MudStack>

            <MudText>Features</MudText>
            <MudStack Spacing="0">
                <MudCheckBox @bind-Value="@ReservationCheckBox" Label="Reservations" Dense="true" />
                <MudCheckBox @bind-Value="@HotAndNewCheckBox" Label="Hot and New" Dense="true" />
                <MudCheckBox @bind-Value="@WaitlistReservationCheckBox" Label="Offers Online Waitlist" Dense="true" />
                <MudCheckBox @bind-Value="@WheelchairAccessibleCheckBox" Label="Wheelchair Accessible" Dense="true" />
                <MudCheckBox @bind-Value="@GenderNeutralRestroomsCheckBox" Label="Gender Neutral Restrooms"
                    Dense="true" />
                <MudCheckBox @bind-Value="@OpenToAllCheckBox" Label="Open to All" Dense="true" />
            </MudStack>

        </MudStack>
    </MudDrawerContainer>
</MudDrawer>

<MudContainer>

    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />

        <MudPaper Class="py-10 my-5" Style="background-color: transparent;" Elevation="0">
            <MudText Typo="Typo.h4">Search</MudText>
            <MudStack Row="true">
                <MudTextField @bind-Value="@Model.Keyword" Variant="Variant.Text" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary"
                    Placeholder="Search" />

                <MudTextField @bind-Value="@Model.Location" Variant="Variant.Text" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.LocationOn" AdornmentColor="Color.Secondary"
                    Placeholder="Address, Neighborhood, City, State or ZIP" />

                <MudFab ButtonType="ButtonType.Submit" DisableElevation="true" Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.Search" />
            </MudStack>
        </MudPaper>
    </EditForm>

    @Body
</MudContainer>