@page "/result/{id}"

@using NightlifeCoordinationSPA.Components.Time.DayOfWeek
@using NightlifeCoordinationSPA.Components.Time.DaysOfWeek

<PageTitle>Nightlife - @Model.Name</PageTitle>

<MudDrawer @bind-Open="@DrawerOpen" ClipMode="DrawerClipMode.Always" Anchor="Anchor.End"
    Variant="@DrawerVariant.Responsive" Style="background-color: transparent;" Elevation="0">
    <MudDrawerHeader Class="px-0">
        <MudStack Row="true" Class="justify-space-between align-center">
            <MudText Typo="Typo.h6">Details</MudText>
        </MudStack>
    </MudDrawerHeader>

    <MudDrawerContainer>
        <MudStack Spacing="4" Style="width: 90%;">
            <MudText>Hours</MudText>
            @if (Model.Hours != null)
            {
                @foreach (var OpenHours in Model.Hours)
                {
                    <DaysOfWeek OpenHours="OpenHours" />
                }
            }
            else
            {
                <MudText Style="width: 100%; text-align: center;">
                    Not details
                </MudText>
            }
        </MudStack>
    </MudDrawerContainer>
</MudDrawer>

<MudContainer Class="py-4">
    <MudPaper Class="d-flex rounded-lg">
        <MudStack Row="true">
            <MudCarousel Style="height:350px; width: 350px;" ShowArrows="true" ShowBullets="true"
                EnableSwipeGesture="true" AutoCycle="true" TData="object" Class="rounded-l-lg">

                @if (Model.Photos != null)
                {
                    @foreach (var ImageUrl in Model.Photos)
                    {
                        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
                            <div class="d-flex" style="height:100%">
                                <MudImage ObjectFit="ObjectFit.Cover" Src="@(ImageUrl)" Style="width: 100%;" />
                            </div>
                        </MudCarouselItem>
                    }
                }

            </MudCarousel>
            <MudStack Spacing="1" Class="pa-5">
                <MudText Typo="Typo.h4">@Model.Name</MudText>

                <MudStack Spacing="0" Row="true" Class="flex-wrap align-center">
                    <MudRating ReadOnly="true" Color="Color.Primary"
                        SelectedValue="@((int)Math.Round(Model.Rating ?? 0))" />

                    <MudStack Row="true" Spacing="1" Class="ml-2">
                        <MudText Typo="Typo.body2"><b>@Model.Rating</b></MudText>
                        <MudText Typo="Typo.body2">(@Model.ReviewCount reviews)</MudText>
                    </MudStack>
                </MudStack>

                @if (Model.Categories != null)
                {
                    <MudStack Spacing="0" Row="true" Class="flex-wrap">
                        @foreach (var category in Model.Categories)
                        {
                            <MudChip Variant="Variant.Text" Size="Size.Small">
                                @category.Title
                            </MudChip>
                        }
                    </MudStack>
                }

                <MudStack Spacing="2" Row="true">
                    @if (Model.IsClaimed.HasValue && Model.IsClaimed.Value)
                    {
                        <MudStack Spacing="1" Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Info" Size="Size.Small" />
                            <MudText Color="Color.Info"><b>Claimed</b></MudText>
                        </MudStack>
                    }
                    @if (!string.IsNullOrEmpty(Model.Price) && Model.IsClosed.HasValue)
                    {
                        <MudText><b>·</b></MudText>
                    }
                    @if (!string.IsNullOrEmpty(Model.Price))
                    {
                        <MudText><b>@Model.Price</b></MudText>
                    }
                </MudStack>

                <MudStack Spacing="2" Row="true">
                    @if (Model.Hours != null)
                    {
                        @foreach (var OpenHours in Model.Hours)
                        {
                            <DayOfWeek OpenHours="OpenHours" />
                        }
                    }
                </MudStack>
            </MudStack>
        </MudStack>
    </MudPaper>
</MudContainer>