@page "/account/register"
@layout AuthLayout

<PageTitle>Nightlife - Register</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-10 my-10 ">
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <MudText Typo="Typo.h4">Register</MudText>

            <MudTextField Label="Email" @bind-Value="_model.Email" For="@(() => _model.Email)" />

            <MudTextField Label="Password" @bind-Value="_model.Password" For="@(() => _model.Password)"
                InputType="InputType.Password" HelperText="Choose a strong password" />

            <MudTextField Label="Password" @bind-Value="_model.Password2" For="@(() => _model.Password2)"
                InputType="InputType.Password" HelperText="Repeat the password" />

            <div class="d-flex align-center justify-space-between">
                <MudCheckBox T="bool" Label="I agree!" Required="true" />

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                    Class="ml-auto">
                    Register
                </MudButton>
            </div>

            <div>
                <p>@ErrorMessage</p>
            </div>

        <MudNavLink Href="/account/login" Match="NavLinkMatch.All">login</MudNavLink>
        </EditForm>
    </MudPaper>
</MudContainer>